.jumbotron {
    background-color: #ffffff !important;
    padding-top: 2rem;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #e1e1e1 !important;
    color: #B2B1B1;
}

.bg-light {
    background-color:  #ffffff !important;
}

.footer {
    background-color: #666666;
    border-top: 8px solid #4AAAA5;
    color: #cccccc;
    font-size: 12px;
}

.container_body_header{
    color: #4AAAA5;
    font-family:  Georgia, Times, "Times New Roman", serif;;
    margin: 0;
    font-size: 2rem;
    font-weight: 800;
}

.jumbotron hr{
    border: 2px solid #dddddd;
} 

.btn-primary{
    background-color: #4AAAA5;
    border-color: #4AAAA5;
}

.name_container{
    background-color: #4AAAA5;
    text-align: center;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-bar-name {
    color: white !important;
    font-size: 28px;
    font-weight: bold;
    background-color:#4AAAA5;
    font-family:  Georgia, Times, "Times New Roman", serif;
}

.opacity-40{
    opacity: 0.4;
}



nav li a{
    border-left: 1px solid #efefef;
}

nav li a span{
    color: #B2B1B1 !important;
}

.no-border-left{
    border-left: none !important;
}

.nav-link{
    padding: 0;
}

.carousel-caption {
    position: absolute;
    right: 4%;
    bottom: 9px;
    left: 4%;
    padding-top: 4px;
    padding-bottom: 0px;
    background-color: #4AAAA5;
}